Fleck-Forms/bin/Debug/Fleck-Forms.exe
Fleck-Forms/bin/Debug/Fleck-Forms.exe.config
Fleck-Forms/bin/Debug/Fleck-Forms.pdb
Fleck-Forms/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Fleck-Forms/obj/x86/Debug/Fleck_Forms.Form1.resources
Fleck-Forms/obj/x86/Debug/Fleck_Forms.Form2.resources
Fleck-Forms/obj/x86/Debug/Fleck_Forms.Properties.Resources.resources
Fleck-Forms/obj/x86/Debug/Fleck-Forms.csproj.FileListAbsolute.txt
Fleck-Forms/obj/x86/Debug/Fleck-Forms.csproj.GenerateResource.Cache
Fleck-Forms/obj/x86/Debug/Fleck-Forms.csprojResolveAssemblyReference.cache
Fleck-Forms/obj/x86/Debug/Fleck-Forms.exe
Fleck-Forms/obj/x86/Debug/Fleck-Forms.pdb
Fleck-Forms/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
NetRemotingClient/bin/Debug/NetRemotingClient.exe
NetRemotingClient/bin/Debug/NetRemotingClient.pdb
NetRemotingClient/bin/Debug/NetRemotingClient.vshost.exe
NetRemotingClient/bin/Debug/NetRemotingClient.vshost.exe.manifest
NetRemotingClient/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
NetRemotingClient/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NetRemotingClient/obj/x86/Debug/NetRemotingClient.Client.resources
NetRemotingClient/obj/x86/Debug/NetRemotingClient.csproj.FileListAbsolute.txt
NetRemotingClient/obj/x86/Debug/NetRemotingClient.csproj.GenerateResource.Cache
NetRemotingClient/obj/x86/Debug/NetRemotingClient.exe
NetRemotingClient/obj/x86/Debug/NetRemotingClient.pdb
NetRemotingClient/obj/x86/Debug/NetRemotingClient.Properties.Resources.resources
Fleck-Forms.suo
