bin/Debug/config.xml
bin/Debug/Fleck.dll
bin/Debug/Fleck-Forms.exe
bin/Debug/Fleck-Forms.exe.config
bin/Debug/Fleck-Forms.pdb
bin/Debug/Fleck-Forms.vshost.exe
bin/Debug/Fleck-Forms.vshost.exe.config
bin/Debug/Fleck-Forms.vshost.exe.manifest
bin/Debug/history.db
bin/Debug/log/2017年7月3日-9001.log
bin/Debug/log/2017年7月4日-9001.log
bin/Debug/log/2017年7月5日-9001.log
bin/Debug/log/2017年7月6日-9001.log
bin/Debug/log/2017年7月7日-9001.log
bin/Debug/log/2017年7月8日-9001.log
bin/Debug/log/2017年7月9日-9001.log
bin/Debug/log/9001.log
bin/Debug/log/Position.log
bin/Debug/log/Position9001.log
bin/Debug/Newtonsoft.Json.dll
bin/Debug/ServiceStack.Common.dll
bin/Debug/ServiceStack.Interfaces.dll
bin/Debug/ServiceStack.Redis.dll
bin/Debug/ServiceStack.Text.dll
bin/Debug/SQLite.Designer.dll
bin/Debug/SQLite.Designer.pdb
bin/Debug/System.Data.SQLite.dll
bin/Debug/System.Data.SQLite.EF6.dll
bin/Debug/System.Data.SQLite.Linq.dll
bin/Release/config.xml
bin/Release/database.db
bin/Release/Fleck.dll
bin/Release/Fleck-Forms.exe
bin/Release/Fleck-Forms.exe.config
bin/Release/Fleck-Forms.pdb
bin/Release/Fleck-Forms.vshost.exe
bin/Release/Fleck-Forms.vshost.exe.config
bin/Release/Fleck-Forms.vshost.exe.manifest
bin/Release/log/2017年6月30日-8182.log
bin/Release/log/Position.log
bin/Release/Newtonsoft.Json.dll
bin/Release/ServiceStack.Common.dll
bin/Release/ServiceStack.Interfaces.dll
bin/Release/ServiceStack.Redis.dll
bin/Release/ServiceStack.Text.dll
bin/Release/System.Data.SQLite.dll
obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/x86/Debug/Fleck_Forms.Form1.resources
obj/x86/Debug/Fleck_Forms.Form2.resources
obj/x86/Debug/Fleck_Forms.Properties.Resources.resources
obj/x86/Debug/Fleck-Forms.csproj.FileListAbsolute.txt
obj/x86/Debug/Fleck-Forms.csproj.GenerateResource.Cache
obj/x86/Debug/Fleck-Forms.csprojResolveAssemblyReference.cache
obj/x86/Debug/Fleck-Forms.exe
obj/x86/Debug/Fleck-Forms.pdb
obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
obj/x86/Release/Fleck_Forms.Form1.resources
obj/x86/Release/Fleck_Forms.Properties.Resources.resources
obj/x86/Release/Fleck-Forms.csproj.FileListAbsolute.txt
obj/x86/Release/Fleck-Forms.csproj.GenerateResource.Cache
obj/x86/Release/Fleck-Forms.csprojResolveAssemblyReference.cache
obj/x86/Release/Fleck-Forms.exe
obj/x86/Release/Fleck-Forms.pdb
obj/x86/Release/TempPE/Properties.Resources.Designer.cs.dll
